---
---

@import "{{ site.theme }}";

#MainTitle {
  color: #c34343;
  text-align: center;
  font-weight: bold;
  text-decoration: initial;
}

#Tagline {
  text-align: center;
}

#image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#Logo {
  display: block;
  border: 5px solid black;
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  color: orange;
}

a:hover {
  color: orange;
  font-weight: normal;
  text-decoration: underline;
}

a:active {
  color: orange;
}

a:visited {
  color: orange;
}
