---
---

@import "{{ site.theme }}";

#MainTitle {
  color: #B31B1B;
  text-align: center;
  font-weight: bold;
  text-decoration: initial;
  font-family: Antique-Olive;
}

#Tagline {
  text-align: center;
}

#Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #B31B1B;
}

#Seals {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#StOlaf {
  width: 75px;
  padding-right: 10px;
}

#Cornell {
  width: 75px;
  padding-left: 10px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  color: orange;
}

a:hover {
  color: orange;
  font-weight: normal;
  text-decoration: underline;
}

a:active {
  color: orange;
}

a:visited {
  color: orange;
  font-weight: normal;
}
